.container {
  padding: 2rem;
  width: 100vw;
  height: 2000px;
}

$img-color: #787575;
.content {
  .item {
    display: inline-block;
    border: 1px solid $img-color;
    border-radius: 4px;
    overflow: hidden;

    margin: 4px;

    cursor: pointer;

    img {
      height: 180px;
      object-fit: contain;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  background-color: #00000073;
  width: 100%;
  min-height: 100%;

  .modalContent {
    border-radius: 4px;
    //overflow: hidden;

    width: 80%;
    min-height: 800px;
    background-color: #fff;
    margin: auto;

    //padding: 24px;

    //position: relative;

    & > * {
      position: absolute;
      transform: translate(-50%, -50%);
    }

    .controlDiv {
      width: 120px;
      padding: 12px;
      border: 1px solid #eaeaea;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: #0070f3;
        border-color: #0070f3;
      }
    }

    //display: flex;
    //
    //img {
    //  height: 420px;
    //  border: 1px solid $img-color;
    //  border-radius: 4px;
    //  overflow: hidden;
    //
    //  margin: 0 12px;
    //}
    //
    //.sideDes {
    //  flex-grow: 1;
    //  background-color: #f5f2e9;
    //  border-radius: 4px;
    //
    //  display: flex;
    //  flex-direction: column;
    //  justify-content: space-evenly;
    //
    //  .sideTap {
    //    padding: 8px 16px;
    //    margin: 0 auto;
    //    border: 1px solid #d8dbde;
    //    background-color: #b3c8d9;
    //    border-radius: 2px;
    //
    //    //position: relative;
    //  }
    //
    //  .sideTapLine {
    //    position: absolute;
    //    //top: 50%;
    //    //right: 50%;
    //    left: 0;
    //
    //    border-top: 1px solid;
    //  }
    //}
  }
}
